@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .engine-pv-line {
        @apply break-words;
    }

    .engine-pv-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}