@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border border-neutral-400 dark:border-neutral-500;
    @apply bg-gradient-to-b from-neutral-200 to-neutral-300;
    @apply hover:from-neutral-300 hover:to-neutral-400;
    @apply dark:from-neutral-800 dark:to-neutral-900;
    @apply dark:hover:from-neutral-700 dark:hover:to-neutral-800;
    @apply rounded p-1 shadow;
  }

  .neutral-gradient-to-b {
    @apply bg-gradient-to-b from-neutral-200 to-neutral-300;
    @apply dark:from-neutral-800 dark:to-neutral-900;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}