@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .stop-zinc-400 { stop-color: theme(colors.zinc.400); }
    .stop-zinc-500 { stop-color: theme(colors.zinc.500); }
    .stop-zinc-600 { stop-color: theme(colors.zinc.600); }

    .stop-slate-300 { stop-color: theme(colors.slate.300); }
    .stop-slate-400 { stop-color: theme(colors.slate.400); }
    .stop-slate-500 { stop-color: theme(colors.slate.500); }
    .stop-slate-600 { stop-color: theme(colors.slate.600); }
    .stop-slate-700 { stop-color: theme(colors.slate.700); }
    .stop-slate-800 { stop-color: theme(colors.slate.800); }
    .stop-slate-900 { stop-color: theme(colors.slate.900); }
    .stop-slate-950 { stop-color: theme(colors.slate.950); }
    .stop-black { stop-color: theme(colors.black); }

    .stop-amber-400 { stop-color: theme(colors.amber.400); }
    .stop-amber-500 { stop-color: theme(colors.amber.500); }
    .stop-amber-600 { stop-color: theme(colors.amber.600); }
    .stop-amber-700 { stop-color: theme(colors.amber.700); }
}

@layer components {
    .tree-node {
        @apply transition-all duration-500 hover:scale-110 stroke-[0.75]
        stroke-zinc-900/10 dark:stroke-zinc-300/10
    }

    .tree-node-minimap {
        @apply stroke-1
        stroke-zinc-900/30 dark:stroke-zinc-300/60;
    }

    .tree-link {
        @apply dark:mix-blend-screen
        stroke-[0.75]
        stroke-zinc-900/30 dark:stroke-white/15
    }

    .tree-link-minimap {
        @apply dark:mix-blend-screen
        stroke-1
        stroke-zinc-900/30 dark:stroke-white/35;
    }

    .tree-grid-line {
        @apply stroke-zinc-500/50 dark:stroke-zinc-500/60;
    }
}