@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app-wrapper {
        @apply w-full h-full min-h-screen;
    }

    .app {
        @apply flex flex-col sm:flex-row w-full h-full
    }

    .app-tab-wrapper {
        @apply flex flex-row w-full;
        @apply sm:hidden;
        @apply border-b;
        border-color: var(--border-color);
    }

    .app-tab-button {
        @apply flex-1 py-3 text-center font-medium;
        @apply border-b-4 border-transparent;
        @apply transition-colors duration-200;
        background-color: var(--bg-inactive-tab);
    }

    .app-tab-button-active {
        @apply border-sky-800 dark:border-sky-600;
        background-color: var(--bg-active-tab);
    }

    .chess-panel-container {
        @apply w-full sm:w-1/2 md:w-2/5 lg:w-1/3 2xl:w-1/4;
        @apply h-[calc(100vh-48px)] sm:h-screen;
        @apply relative overflow-auto;
        @apply sm:border-r;
        background-color: var(--bg-color-chess-panel);
        background-image: var(--bg-gradient-chess-panel);
        border-color: var(--border-color);
    }

    .move-tree-panel-container {
        @apply w-full sm:w-1/2 md:w-3/5 lg:w-2/3 2xl:w-3/4;
        @apply h-[calc(100vh-48px)] sm:h-screen;
        @apply overflow-hidden;
        background-color: var(--bg-color-move-tree-panel);
        background-image: var(--bg-gradient-move-tree-panel);
    }
}
