@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .chess-panel {
        @apply flex-1 flex flex-col space-y-3;
        @apply h-full;
        @apply overflow-y-auto;
        @apply py-4 px-[2px];
        scrollbar-color: var(--chess-panel-scrollbar-color) transparent;
        scrollbar-gutter: stable both-edges;
    }
    
    .chess-panel-card {
        @apply rounded-md shadow-xl;
        background-color: var(--chess-panel-card-bg-color);
        border: 1px solid var(--chess-panel-card-border);
    }
}
